################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

packages
paket-files
.vs
.vscode
/dist
obj
bin
*.user
